/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
---------------------------------------- */

/* 1. Global Styles
---------------------------------------- */

:root {
  /* COLORS */
  --black: #000000;
  --iced-lavender: #c2c8da;
  --liberator-gold: #e6c744;
  --orochimaru: #d9d9d9;
  --stieglitz-silver: #8e8e8e;
  --uproar-red: #ea1701;
  --white: #ffffff;
  --white-smoke: #f4f6f5;
  --young-night: #242323;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

ul {
  list-style-type: none;
}

body,
ul,
div,
h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

/* 2. Typography Styles
---------------------------------------- */

.branding {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.title {
  text-transform: uppercase;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.1em;
  width: 30%;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 84px;
  }
}

/* 3. Structure Styles
---------------------------------------- */

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

/* 4. Module Styles
---------------------------------------- */

/* HEADER & NAVBAR */

header {
  color: var(--black);
  padding: 10px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  margin: 0;
}

.desktop-navbar {
  display: none;
}

.mobile-navbar {
  display: flex;
}

.desktop-navbar ul,
.mobile-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.desktop-navbar li,
.mobile-navbar li {
  margin: 0 15px;
}

.desktop-navbar a:not(.btn-black),
.mobile-navbar a:not(.btn-black) {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--stieglitz-silver);
  transition: color 0.25s ease-in;
}

.mobile-navbar a:not(.btn-black) {
  color: var(--black);
}

.desktop-navbar a:not(.btn-black):hover {
  color: var(--black);
}

.burger {
  cursor: pointer;
  display: none;
  z-index: 2;
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: var(--liberator-gold);
  text-align: center;
  transition: left 0.3s ease;
  z-index: 1;
}

.mobile-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobile-navbar.active {
  left: 0;
  justify-content: center;
}

.burger.active {
  position: fixed;
  right: 49px;
}

.mobile-navbar.active ul {
  display: flex;
  gap: 30px;
  font-size: 1.5em;
}

.burger {
  display: block;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 5px 0;
  transition: 0.4s;
}

.burger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (min-width: 769px) {
  .burger {
    display: none;
  }

  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: flex;
  }
}

/* FOOTER */

footer {
  grid-area: footer;
  background-color: var(--black);
  color: var(--white);
  padding: 50px 0;
  margin-top: 24px;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.footer-section {
  text-align: left;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  color: var(--stieglitz-silver);
  text-decoration: none;
  transition: color 0.25s ease-in;
}

.footer-section a:hover {
  color: var(--white-smoke);
}

.footer-branding {
  font-size: 30px;
}

.footer-slogan {
  color: var(--stieglitz-silver);
  margin-top: 16px;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.footer-social a {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: var(--liberator-gold);
  border-radius: 10px;
  transition: background-color 0.25s ease-in;
}

.footer-social a:hover {
  background-color: #ead55f;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

/* 5. Component Styles
---------------------------------------- */

#current a {
  color: var(--black);
}

.btn-black {
  display: inline-block;
  text-decoration: none;
  color: var(--white-smoke);
  background: var(--black);
  border-radius: 10px;
  padding: 10px 22px;
  transition: background-color 0.25s ease-in;
}

.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 6. Page Styles
---------------------------------------- */

/* HOME */

.body {
  max-width: 60%;
  margin-bottom: 36px;
}

.hero {
  flex-shrink: 1;
  padding: 25px 25px 25px 50px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 25px 50px 50px 100px;
  }
}

.bg-grey {
  width: clamp(320px, 90%, 100%);
  border-radius: 30px;
  background: var(--white-smoke);
}

.img-hero {
  display: none;
}

@media only screen and (min-width: 1178px) {
  .img-hero {
    display: block;
    flex-shrink: 1;
    width: 450px;
    margin-right: 85px;
  }
}

.highlight-white,
.highlight-yellow {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.highlight-white::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -25px;
  transform: rotate(-2deg);
  width: 190%;
  height: 100%;
  background-color: var(--white);
  margin: 5px 0;
  z-index: -1;
}

.highlight-yellow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  transform: rotate(-2deg);
  width: 135%;
  height: 100%;
  background-color: var(--liberator-gold);
  margin: 5px 0;
  z-index: -1;
}

/* SHOP */

.instrument-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.instrument {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.description {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white-smoke);
  padding: 40px 32px;
  transform: translateY(-100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instrument:hover .description {
  transform: translateY(0);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.details {
  padding: 15px;
}

.name {
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.price {
  font-size: 1.1em;
  color: var(--stieglitz-silver);
  margin-top: 10px;
}

.sale {
  color: var(--uproar-red);
}

/* CONTACT */

#connection {
  margin: 50px auto;
  width: 90%;
  border-radius: 30px;
  background-color: var(--white-smoke);
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #connection {
    width: 60%;
  }
}

.contact-container {
  padding: 20px;
}

#top {
  margin-bottom: 30px;
}

#top h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#top p {
  width: 85%;
  margin: 0 auto;
  color: var(--young-night);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.contact p:first-child {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--stieglitz-silver);
}

.contact p:last-child {
  font-size: 1.4em;
  margin: 0;
}
